api_image = "231575491003.dkr.ecr.us-east-1.amazonaws.com/redactproof-dev-api:latest"
web_image = "231575491003.dkr.ecr.us-east-1.amazonaws.com/redactproof-dev-web:latest"

# Set after the first apply, from `terraform output cloudfront_domain_name` - see
# variables.tf's public_hostname docstring.
public_hostname = ""
